.mid-card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
}
.button-container {
  width: 100%;
}

.modal-backdrop-fade-enter {
  opacity: 0;
}
.modal-backdrop-fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.modal-backdrop-fade-exit {
  opacity: 1;
}
.modal-backdrop-fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
.modal-container-slide-enter {
  opacity: 0;
  transform: scale(0.9);
  transform: translateY(-2rem);
}
.modal-container-slide-enter-active {
  opacity: 1;
  transform: translateX(0);
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.modal-container-slide-exit {
  opacity: 1;
}
.modal-container-slide-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transform: translateY(-2rem);
  transition: opacity 300ms, transform 300ms;
}
